@{
    ViewData["Title"] = "FHIR Implementation in EHR";
}

<div class="text-center">

    <nav>

    </nav>

    <h1 class="display-4">Introduction</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
