@model EHR_MVC.Models.Users.UserViewModel

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/Users/AjaxFunction.js"></script>
    <script src="~/js/Users/Authentication.js"></script>
    <script>
        document.getElementById("UserEmail").value = "UncleRoger@noreply.gmail.com"
        document.getElementById("Password").value = "123456"
    </script>
}

<div class="text-center">

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4 text-center">
                <!-- Header -->
                <!-- Login form -->
                <div class="card mt-3">
                    <div class="card-body">
                        <h4 class="card-title mb-4" style="color: #427677; font-weight: bold;">登入</h4>

                        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                        {
                            <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
                        }
                        <div class="form-group">
                            <label for="UserEmail">Email:</label>
                            <input type="email" id="UserEmail" class="form-control" placeholder="Enter your email" />
                        </div>

                        <div class="form-group">
                            <label for="Password">Password:</label>
                            <input type="password" id="Password" class="form-control" placeholder="Enter your password" />
                        </div>

                        <button type="button" class="btn btn-primary" onclick="login()">Login</button>
                        <br>
                        Don't have an account? <a href="@Url.Action("Register", "User")" style="color: #4F4F4F;">Register</a>

                    </div>
                </div>
            </div>
        </div>

        <!-- Footer with date and time -->
        <div class="text-center mt-3 text-muted">
            <p>@DateTime.Now.ToString("yyyy-MM-dd- dddd HH:mm:ss")</p>
        </div>
    </div>
</div>
